.daysOfTheWeek {
    display: grid;
    grid-template-areas: "a a a a a a a";
    /* grid-template-rows: (7, 1fr); */
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 25px;
    grid-gap: 1px;
}
.day {
    border: 1px solid lightgray;
    font-weight: bold;
}
.parent {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 100px);
    grid-column-gap: 1px;
    grid-row-gap: 1px;
    height: 90%;
    }
.cell {
    border: 1px solid lightgray;
}
#sidebar{
    height: 100%;
    width: 19%;
    float: left;
    background-color: lightblue;
}

#mygrid{
    width: 80%;
    float: left;
    margin: 2px;
    /* border-right: 3px solid lightgray;
    border-left: 3px solid lightgray;
    border-top: 3px solid lightgray; */
}

#navbar{
    display: table-cell;
    vertical-align: middle;
    
    float: left;
    height: 10%;
    width: 80%;
    border: 3px solid lightgray;
    margin: 1px;
    text-align: center;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    
}

/* #tableidk{
    height: 10%;
    width: 80%;
    display: table;
} */

.container {
    height: 10%;
    width: 80%;
    border: 3px solid lightgray;
    margin: 1px;
    justify-content: center;
    float: left;
    position: relative;
  }
  
  .vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

.current {
    background-color: lightblue;
}