.daysOfTheWeek {
    display: grid;
    grid-template-areas: "a a a a a a a";
    /* grid-template-rows: (7, 1fr); */
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 25px;
    grid-gap: 1px;
}
.day {
    border: 1px solid lightgray;
    font-weight: bold;
}
.parent {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 100px);
    grid-column-gap: 1px;
    grid-row-gap: 1px;
    height: 90%;
    }
.cell {
    border: 1px solid lightgray;
}
#sidebar{
    height: 100%;
    width: 19%;
    float: left;
    background-color: lightblue;
}

#mygrid{
    width: 80%;
    float: left;
    margin: 2px;
    /* border-right: 3px solid lightgray;
    border-left: 3px solid lightgray;
    border-top: 3px solid lightgray; */
}

#navbar{
    display: table-cell;
    vertical-align: middle;
    
    float: left;
    height: 10%;
    width: 80%;
    border: 3px solid lightgray;
    margin: 1px;
    text-align: center;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    
}

/* #tableidk{
    height: 10%;
    width: 80%;
    display: table;
} */

.container {
    height: 10%;
    width: 80%;
    border: 3px solid lightgray;
    margin: 1px;
    justify-content: center;
    float: left;
    position: relative;
  }
  
  .vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

.current {
    background-color: lightblue;
}
.event{
    background-color: darkgoldenrod;
    position: absolute;
    z-index: 9;
}

#scheme1{
    animation: mycolor 6s linear infinite;
}

#scheme2{
    animation: mycolor2 6s linear infinite;
}

#scheme3{
    animation: mycolor3 6s linear infinite;
}

#scheme4{
    animation: mycolor4 6s linear infinite;
}

/* #navbarText{
    animation: mycolor 6s linear infinite;
} */

@keyframes mycolor {
    0%{
        background-color: ivory
    }
    25%{
        background-color: #a0bff2
    }
    50%{
        background-color: #7ca9f2
    }
    75%{
        background-color: #6ea2f5
    }
    100%{
        background-color: #aac5f0
    }
}

@keyframes mycolor2 {
    0%{
        background-color: ivory
    }
    25%{
        background-color: #81db75
    }
    50%{
        background-color: #74e77d
    }
    75%{
        background-color: #38d35e
    }
    100%{
        background-color: #94eeab
    }
}

@keyframes mycolor3 {
    0%{
        background-color: ivory
    }
    25%{
        background-color: #e0f584
    }
    50%{
        background-color: #f0d86e
    }
    75%{
        background-color: #f7bf48
    }
    100%{
        background-color: #eccb84
    }
}

@keyframes mycolor4 {
    0%{
        background-color: ivory
    }
    25%{
        background-color: #ee935e
    }
    50%{
        background-color: #ac7b3b
    }
    75%{
        background-color: #c28d48
    }
    100%{
        background-color: #c4b358
    }
}